.hero { 
  /* width: 84vw; */
  /* background-color: aliceblue; */
  /* padding: 40px; */
  height: 94vh;
  display: flex;
}
.hero-left {
  background-color: #00000054; 
  /* background-image: url("https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */
   /* background-image: url("https://images.unsplash.com/photo-1503551723145-6c040742065b-v2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */
   /* background-image: url("https://images.unsplash.com/photo-1602629978851-125a3b62f3d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bm90ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"); */
   background-image: url("https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
 
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  padding: 40px;
  width: 50%;
  text-align: center;
  /* font-size: 3rem; */
}


.hero-text > h1 {
  font-size: 3rem;
  color: whitesmoke;
}

.hero-text > h2 {
  font-size: 2rem;
  color: whitesmoke;
}


.hero-text > p {
  color: whitesmoke;
  margin-bottom: 20px;

}

.cta{
  padding: 15px 20px;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: whitesmoke;
  border-radius: 3px;
}

.all-p-title {
  font-size: 2rem;
  text-align: center;
  padding: 100px;
}
/* .home-hero {
  height: 60vh;
  display: flex;

}




.home-left-hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-left: 80px;
  padding-top: 70px;
  background-color: white;
  color: black;
}

.cta-btn {
  align-self: flex-start;
  margin-top: 30px;
  padding: 15px 30px 15px 30px;
  border-radius: 6px;
  background-color: rgb(33, 59, 131);
  color: white;
  text-decoration: none;
}

.home-right-hero {
  background-color: #00000077; 
  background-image: url("https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  width: 50%;
}

.home-title {
  font-size: 3rem;
}

.home-caption {
  font-size: 1rem;
  margin-top: 20px;
}

.latest-projects-title {
  text-align: center;
  padding-top: 70px;

}

.home-all-projects {
  padding-top: 100px;

}

.home-all-project-title {
  text-align: center;
  font-size: 2rem;
} */