.all-project-card-image {
  width: 200px;
}

.all-card {
  /* display: flex; */
  /* flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap; */
}

.all-card-inner {
  width: 200px;
  padding: 30px;
}