.layout {
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

.main-content {
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid rgb(27, 157, 120); */
  margin-left: 20vw;
  /* padding: 0 20px 0px 0px; */
  margin-top: 16vh;
  /* background-color: rgb(156, 156, 156); */
}

.layout-children {
  flex: 2;
  padding: 0 20px 20px 20px;
} 
/* 
.layout-children {
    flex: 2;
    padding: 100px;
} */

/* @media (max-width: 500px) {
    .layout {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .layout-children {
        width: 80vw;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} */