.product-cards {
    /* width: 60vw; */
    /* padding: 50px; */
    /* margin: 50px; */
    /* overflow-x: none; */
    margin-top: 70px;
    position: relative;
    /* display: flex;
    justify-content: center; */
  
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards img {
  display: flex;
  margin-top: 40px;
  /* overflow-x: scroll; */
}

/* .latest {
    font-size: 20px;
    color: rgb(56, 55, 55);
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 40px;
    left: 50%;
} */
/* 
@media (max-width: 500px) {
    .product-cards {
        width: 90vw;
        padding: 20px;
        margin: 0px;
    }
    .cards {
        margin: 0 -20px;
    }
} */
