/* .product-cards {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgb(41, 41, 41);  
}

.latest-title {
  text-align: center;
  padding: 20px;
  padding-bottom: 80px;
  color: whitesmoke;
}

.cards {
  display: flex;
}

.cards img {
  width: 100%;
  height: 200px;
} */

.cards {
  display: flex;
  justify-content: center;
  align-items: end;
}
