
nav {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: sticky;
  width: 98vw;
  top: 0;
  z-index: 20;
}

.logo { 
  font-size: 1.9rem;
  text-decoration: none;
  padding-left: 10px;
  /* color: whitesmoke; */
  color: rgb(25, 25, 25);
  color: #9a6d64;
  font-weight: 900;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

/* color: rgb(45, 76, 168); */

}

.nav-right {
  /* color: whitesmoke; */
  color: rgb(25, 25, 25);

  /* width: 20%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right > div {
  margin-right: 30px;
}

.nav-right .link {
  text-decoration: none;
  color: whitesmoke;
  /* color: rgsb(25, 25, 25); */
  /* background-color: #000000; */
  background-color: #9a6d64;
  margin-right: 30px;
  padding: 8px 15px;
  border-radius: 3px;

}

.searchbar {
  width: 200px;
  padding: 3px; 

}
#search-submit {
  /* color: white; */
  margin-right: 30px;
  margin-left: 8px;
  padding: 3px 8px 3px 8px;

}

.welcome {
  color: #9a6d64;
  font-weight: bold;
  font-size: 1.2rem;
}